body {
    margin: 0;
    height: 100vh; 
    background-image: url('https://t4.ftcdn.net/jpg/09/16/51/37/360_F_916513756_W5EHubbKhvUbcTw071pUJ1ezdhyLMzIB.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}


h1{
    text-align: center;
    padding: 10px;
    font-size: 2em;
}

.signup {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 40em;
    height: auto;
    padding: 20px;
    margin: 0 auto; 
}


.eh{
text-align: center;
}

